* {
  box-sizing: border-box;
}

html {
  font-size: 4rem;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.problem {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 5vmax solid black;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.evaluate {
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
  visibility: hidden;
}

.evaluate.revealed {
  visibility: visible;
}

.evaluate button {
  font-size: 32px;
  padding: 0.25rem;
}
